{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<!-- Rendering card and performing client side validation by using following js code provided by stripe-->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static '/js/3dsec.js' %}"></script>
<!-- using above library to define _3dsec function that will render the card and validate it-->
<script>
  _3dsec('{{STRIPE_PUBLISHABLE_KEY}}', '{{payment_intent_secret}}');
</script>


    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
           <div class="container">
              <div id="3ds_result">
              </div>
           </div>
        </div>
    </div>
{% endblock content %}