{% extends 'accounts/main.html' %}

{% block content %}

{% load static %}
<div class="row">
    <div class="col-md-3">
        <!--        <p>{{request.user}}</p>-->
    </div>
    <div class="col-md-4">
        <!--        <p>just to create an extra column</p>-->
    </div>

    <div class="col-md-5">
        <form class="form-inline" method="get">
            {{searchFilter.form}}
            <!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <div class = "col">
                <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<br>


<h4>Available chats</h4>
<br>

{% if query_set_count != 0 %}
{% for customer in customers %}
{% if customer.user != curr_user %}
<br>
<div>
    <button type="submit" class="btn btn-success mb-2">
        <a href="{% url 'showchat' customer.pk %}">
            {{customer.first_name}} {{customer.last_name}}
        </a>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}