{% load static %}

<!--Credit/citation: The following section of code has been extracted from: https://getbootstrap.com/docs/4.3/components/navbar/
and further customized based on our needs.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static 'images/projectM.png' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Content Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Entertainment</a>
                    <a class="dropdown-item" href="#">Fitness</a>
                    <a class="dropdown-item" href="#">3rd category</a>
                    <a class="dropdown-item" href="#">4th category</a>
                    <a class="dropdown-item" href="#">5th category</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upload Contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trending Contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
            </li>
            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--      </li>-->
        </ul>
        <!--    <form class="form-inline my-2 my-lg-0">-->
        <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--    </form>-->
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

        </ul>
    </div>
</nav>

