{% extends 'accounts/main.html' %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-md-3">
        <!--        <p>{{request.user}}</p>-->
    </div>
    <div class="col-md-4">
        <!--        <p>just to create an extra column</p>-->
    </div>

    <div class="col-md-5">
        <form class="form-inline" method="get">
            {{searchFilter.form}}
            <!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <div class = "col">
                <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<br>

<h5>Search Results</h5>

<div class="row">
    {% for file in total_query_files %}
    {% if forloop.counter0|divisibleby:3 %}
</div><div class="row">
    {% if forloop.counter0 == total_query_files_count %}
    <div class="col" align="center">
        <br>
        {% if request.user.customer.subscribe == False %}
        <a href = "{% url 'upgrade' %}">
            <video  width='250' height='150' controls poster="{{request.user.customer.video_poster.url}}">
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% else %}
        <a href = "{% url 'add_content_viewers' file.pk %}">
            <video  width='250' height='150' controls>
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
        <div>
            <p style="color:black;font-size:13px;font-weight:bold;">"{{ file.title }}" Views: {{file.content_viewers.count}}</p>
        </div>
        <br>
    </div>

    <div class="col" align="center">
<!--        <p>An extra column to organize the videos</p>-->
    </div>
    <div class="col" align="center">
        <!--<p>An extra column to organize the videos</p>-->
    </div>
    {% else %}
    <div class="col" align="center">
        <br>
        {% if request.user.customer.subscribe == False %}
        <a href = "{% url 'upgrade' %}">
            <video  width='250' height='150' controls poster="{{request.user.customer.video_poster.url}}">
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% else %}
        <a href = "{% url 'add_content_viewers' file.pk %}">
            <video  width='250' height='150' controls>
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
        <div>
            <p style="color:black;font-size:13px;font-weight:bold;">"{{ file.title }}" Views: {{file.content_viewers.count}}</p>
        </div>
        <br>
    </div>
    {% endif %}

    {% elif forloop.counter0 == total_query_files_count %}
    {% if forloop.counter0|add:2|divisibleby:3 %}
    <div class="col" align="center">
        <br>
        {% if request.user.customer.subscribe == False %}
        <a href = "{% url 'upgrade' %}">
            <video  width='250' height='150' controls poster="{{request.user.customer.video_poster.url}}">
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% else %}
        <a href = "{% url 'add_content_viewers' file.pk %}">
            <video  width='250' height='150' controls>
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
        <div>
            <p style="color:black;font-size:13px;font-weight:bold;">"{{ file.title }}" Views: {{file.content_viewers.count}}</p>
        </div>
        <br>
    </div>
    <div class="col" align="center">
        <!--<p>An extra column to organize the videos</p>-->
    </div>
    {% else %}
    <div class="col" align="center">
        <br>
        {% if request.user.customer.subscribe == False %}
        <a href = "{% url 'upgrade' %}">
            <video  width='250' height='150' controls poster="{{request.user.customer.video_poster.url}}">
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% else %}
        <a href = "{% url 'add_content_viewers' file.pk %}">
            <video  width='250' height='150' controls>
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
        <div>
            <p style="color:black;font-size:13px;font-weight:bold;">"{{ file.title }}" Views: {{file.content_viewers.count}}</p>
        </div>
        <br>
    </div>
    {% endif %}

    {% else %}
    <div class="col" align="center">
        <br>
        {% if request.user.customer.subscribe == False %}
        <a href = "{% url 'upgrade' %}">
            <video  width='250' height='150' controls poster="{{request.user.customer.video_poster.url}}">
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% else %}
        <a href = "{% url 'add_content_viewers' file.pk %}">
            <video  width='250' height='150' controls>
                <source src="{{file.upload_video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
        <div>
            <p style="color:black;font-size:13px;font-weight:bold;">"{{ file.title }}" Views: {{file.content_viewers.count}}</p>
        </div>
        <br>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}