{% load static %}

<!DOCTYPE html>
<html>

<head>
    <h1 align="center">Comedy Videos</h1>
</head>

<body style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);">

<div>
    {% for file in files %}
    <div class="col-md-4" align="center">
        <br><br>
        <video width='900' controls>
            <source src="{{file.upload_video.url}}" type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <div>{{ file.description }}</div>
        <br><br>
    </div>
    {% endfor %}
</div>
<div align="center">
    <a class="profile-edit-btn" name="btnAddMore" href="{% url 'dashboard' %}"><b>Back</b></a>
</div>
</body>
</html>




